RewriteEngine On
    
    # Redirect From Public folder to the index
    RewriteBase /prolist/
    RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
    RewriteRule ^ %1 [L,NE,R=302]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

    # Remove the .php extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f 
    RewriteRule ^(.*)$ $1.php

    # Remove slahes / if not a folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301] [L]


    #SEO Friendly URLs on Project and Category pages
    # RewriteRule ^projects/(\d+)$ projects.php?p_slug=$1 [NC,L]